.loginHeader {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.logo {
  display: flex;
  width: 168px;
  height: 80px;
  padding-left: 20px;
  align-items: center;
  gap: 12px;
}
