.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.mainContent {
  flex: 1;
  transition: margin-right 0.3s ease;
  background-color: #ebebeb
}

.mainContentShifted {
  margin-right: 340px;
}

.mainContentWithoutPanel {
  margin-right: 0; /* 사이드바 패널의 너비만큼 마진 적용 */
}