.tabContainer {
  display: flex;
  border-bottom: 1px solid #e5e7eb;
  background-color: white;
}

.tab {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: none;
  position: relative;
}

.tab.active {
  background-color: #f3f4f6;
}

.tab:hover {
  background-color: #f3f4f6;
}

.leftOnly {
  border-right: 1px solid #e5e7eb;
}

.rightOnly {
  border-left: 1px solid #e5e7eb;
}