.mainPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainMeetingList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}
