.groupMemberList {
  display: flex;
  height: 351px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  align-self: stretch;
}

.groupMemberList h2 {
  display: flex;
  padding-right: 45px;
  align-items: center;

  color: #333;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.groupMemberItem {
  display: flex;
  width: 600px;

  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
