.groupMemberItem {
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 4px 12px;
}

.member {
  display: flex;
  width: 432px;

  gap: 10%;
}

.member img {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border: 1px solid #ccc;
  border-radius: 100px;
}

.member {
  color: #666;
  font-family: Pretendard;
}

.email {
  color: #666;
  font-family: Pretendard;
  font-size: 12px;
  line-height: normal;
}

/* className={`text-sm font-semibold ${
  role === "Admin" ? "text-blue-600" : "text-gray-600"
}`} */
