@import "tailwindcss";

html {
  height: 100%;
}

body {
  font-family: 'Pretendard', sans-serif;
}

#openvidu-logo {
  height: 35px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#openvidu-logo:hover {
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  header {
    padding: 10px 15px;
  }

  footer {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 10px;
  }

  footer {
    padding: 10px;
  }
}
